<main-header></main-header>
<article class="about-article">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h2>Om Vinoppskrifter.net</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Vinoppskrifter.net er laget for å samle Vinoppskrifter fra alle hobby vinleggere rundt om i landet.
                   På denne nettsiden kan man dele sine vinnopskrifter, fremgangsmåter og råd til andre.
                   Man kan lagre oppskriftene underveis i prosessen, og når man er ferdig og fornøyd med vinen velge å dele den med andre eller
                   bare beholde den for seg selv. 
                </p>
                <p>
                    Liker du en oppskrift du finner kan du gi den en karakter eller lagre den som en favoritt for å lettere
                    finne frem til oppskriften ved en senere annledning.
                </p>
                <p>
                    Har du noe du lurer på, ikke nøl med å ta kontakt på <b>hjelp@vinnopskrifter.net</b>
                </p>
                <p>
                    Vi ser frem til å se hva du har å dele av erfaring. 
                </p>
            </div>
        </div>
    </div>
</article>