.error {
  margin-top: 5px;
  color: red;
}

.menu-container{
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  margin-top: 4em;

  .menu-content{
    @include roboto-font(400, 20px, black);
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    border: 1px solid $primary-color-1;
    background-color:white;

    &:hover{
      cursor: pointer;
      background-color: $primary-color-1;
      color: white;
      @include slow-transition();
    }
  }
}

.about-article{
    margin-top: 10px;
    height: 500px;
    p{
        margin-top: 15px;
    }
}

.height-filler{
  height: 550px;
}

/* Terrible yellow autofill color created by google
 *  The following code removes the yellow color and add
 *  Belron custom styling
 *  Source: https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/
 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: $primary-color;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
