
.footer{
    text-align: center;
    width: 100%;
    height: 250px;
}
.top-list-header{
    font-family: $roboto-normal;
    color:white;
    text-align: center;
}

.brand-name{
    font-family: $tangerine-normal;
    font-size: 40px;
}

.login-wrapper{
    font-family: $roboto-normal;
    color:black;
    text-align: center;
}