.footer{
    background-color: #E0E0E0;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
    height: 15%;

    p{
        font-size: 17px;
        color: #757575;
    }
}

.main-info-wrapper{
    position: fixed;
    margin-top: -20px;
    max-height: auto;
    margin-left: auto;
    .main-info-image{
        background-size: cover; 
        @media screen and (max-width:480px) {
            max-height: 40em;
            margin-left: -20em;
        }
        @media screen and (max-width: $small-screen) {
            max-height: 40em;
            margin-left: -40em;
        }
    }

    
}