<div class="login-wrapper">
    <h2>Registerer deg:</h2>
    <p>Felter med stjerne må fylles ut.</p>
    
    <md-input type="email" class="login-input" type="text" placeholder="Epost"></md-input>
    <md-input class="login-input" type="text" placeholder="Brukernavn"></md-input>
    <md-input class="login-input" type="password" placeholder="Passord"></md-input>
    <md-input class="login-input" type="password" placeholder="Gjenta passord"></md-input>

    <button class="login-button" md-raised-button>Registerer deg</button>
</div>