<div class="container-full">
  <h2 class="align-center">Mine oppskrifter</h2>
  <recipe-menu></recipe-menu>
  <div class="table-container">
    <table>
      <tr>
        <th></th><!-- filler -->
        <th>Tittel</th>
        <th>Beskrivelse</th>
        <th>Rating</th>
        <th></th><!-- filler -->
      </tr>
      <tr class="hover-effect">
        <td></td> <!-- filler -->
        <td>Ripsvin på en måned</td>
        <td>12 %</td>
        <td>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </td>
        <td></td> <!-- filler -->
      </tr>
      <tr class="hover-effect">
        <td></td> <!-- filler -->
        <td>Eplevin fra Hardanger</td>
        <td>Resultat på rundt 12 %</td>
        <td>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </td>
        <td></td> <!-- filler -->
      </tr>
      <tr class="hover-effect">
        <td></td> <!-- filler -->
        <td>Kiwivin</td>
        <td>Supergod</td>
        <td>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </td>
        <td></td> <!-- filler -->
      </tr>
      <tr class="hover-effect">
        <td></td> <!-- filler -->
        <td>Testvin 2000</td>
        <td>Årets vin</td>
        <td>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </td>
        <td></td> <!-- filler -->
      </tr>
      <tr class="hover-effect">
        <td></td> <!-- filler -->
        <td>Gode Greier</td>
        <td>Nam Nam Nam</td>
        <td>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </td>
        <td></td> <!-- filler -->
      </tr>
      <tr class="hover-effect">
        <td></td> <!-- filler -->
        <td>Pærevin</td>
        <td>Kjempegod</td>
        <td>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </td>
        <td></td> <!-- filler -->
      </tr>
      <tr class="hover-effect">
        <td></td> <!-- filler -->
        <td>Hjemmelaget rødvin fra Hardanger</td>
        <td>God hjemmelaget vin 14%</td>
        <td>
          <i class="fa fa-star" aria-hidden="true"></i>
        </td>
        <td></td> <!-- filler -->
      </tr>
      <tr class="hover-effect">
        <td></td> <!-- filler -->
        <td>God ripsvin</td>
        <td>Ripsvin 12 %</td>
        <td>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </td>
        <td></td> <!-- filler -->
      </tr>
      <tr class="hover-effect">
        <td></td> <!-- filler -->
        <td>Saras supervin</td>
        <td>Blåbær, Rips og Bringebær</td>
        <td>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </td>
        <td></td> <!-- filler -->
      </tr>
      <tr class="hover-effect">
        <td></td> <!-- filler -->
        <td>Skogsbærvin</td>
        <td> 12 %</td>
        <td>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </td>
        <td></td> <!-- filler -->
      </tr>
    </table>
  </div>
</div>
