<div class="table-container">
  <table>
    <tr>
      <th>Tittel</th>
      <th>Vintype</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td>Hjemmelaget rødvin fra Hardanger</td>
      <td>Druevin</td>
      <td>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>God ripsvin</td>
      <td>Ripsvin</td>
      <td>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </td>
    </tr>
  </table>
</div>
