  <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#"><img class="navbar-logo" src="./images/logo_white.png"></a> 
        <a class="navbar-brand brand-name" href="#" translate>HEADER.TITLE</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!loggedInEmail"><a href="login" translate>HEADER.LOGIN</a></li>
          <li *ngIf="!loggedInEmail"><a href="register" translate="">HEADER.REGISTER</a></li>
          <li *ngIf="loggedInEmail"><a href="#">{{loggedInEmail}}</a></li>
          <li *ngIf="loggedInEmail"><a href="logout" translate>HEADER.LOGOUT</a></li>
          <li><a href="about" translate>HEADER.ABOUT</a></li>
        </ul>
      </div>
  </nav>

  