<main-header></main-header>
<div class="login-wrapper">
  <h2>Logg inn:</h2>
  <form>
    <md-input-container class="login-input">
      <input mdInput [(ngModel)]="email" name="email" type="text" placeholder="Epost">
    </md-input-container>
    <md-input-container class="login-input">
      <input mdInput [(ngModel)]="password" name="password" type="password" placeholder="Passord">
    </md-input-container>
    <button (click)="login(email, password)" class="login-button" [disabled]="isLoggingIn" md-raised-button>
      <span *ngIf="!isLoggingIn">Logg inn</span>
      <span *ngIf="isLoggingIn" class="fa fa-spin fa fa-cog"></span>
    </button>
    <p *ngIf="loginErrorMessage?.length > 0" class="login-error">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{loginErrorMessage}}
    </p>
  </form>
</div>
