<main-header></main-header>
<div class="login-wrapper">
    <h2>Logg inn:</h2>
    <md-input [(ngModel)]="email"class="login-input" type="text" placeholder="brukernavn"></md-input>
    <md-input [(ngModel)]="password" class="login-input" type="password" placeholder="passord"></md-input>
    <button (click)="login(email, password)" class="login-button" md-raised-button>Logg inn</button>
    <p *ngIf="loginErrorMessage?.length > 0" class="login-error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{loginErrorMessage}}</p>
</div>