<div class="container menu-bottom-wrapper">
    <div class="row">
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
        <h2>Søk etter oppskrifter</h2>
        <p>Klikk her for å søke etter oppskrifter. Du kan spesifisere søket til å omhandle spesifikke ingredienser, vuderinger og mer.</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
        <h2>Lag din egen oppskrift!</h2>
        <p>Klikk her for å lage din egen oppskrift</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
        <h2>Utstyr og framgangsmåter</h2>
        <p>Klikk for å lese mer om hva du trenger for å lage hjemmelaget vin og hvordan, bruker utstyret og hvor du kan få kjøpt dette.</p>
    </div>
    </div>
</div>